@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja-font:"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
Verdana,
"ＭＳ Ｐゴシック",
sans-serif;
$brown1: #887f69;
$beige1: #f9f8f6;
$beige2: #e8e4da;
$gray1: #e2ddd4;
$gray2: #bebebe;

header {
    background: $beige1;

    #header_in {
        padding-top: 25px;

        .logo {
            padding-bottom: 10px;
            text-align: center;


            @media (min-width: 551px) {
                text-align: left;
                padding: 0 0 10px 0;
                img {
                    width: 30%;
                }

            }
        }

        .sp_navi {
            margin-bottom: 0;
            text-align: center;

            li {
                list-style: none;
                display: inline-block;
                padding: 0 5px;
                margin-bottom: 0;
            }
        }

        .sp_menu_toggle {
            list-style: none;
            background-color: #ff6d77;
            width: 98%;
            position: right;
            display: none;
            position: absolute;
            left: 1%;

            z-index: 100;

            li {
                border-bottom: 1px solid $gray1;
                margin-bottom: 0;
                a {
                    color: white;
                    text-decoration: none;
                    padding: 5px;
                    @include fontsize(13);

                }
            }
        }
        .sp_navi_list {
            width: 180px;
            background-color: $brown1;
            color: #ffffff;
            margin: 0;
            position: absolute;
            display: none;

            li {
                list-style: none;
                margin: 0;
                padding: 0;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 10px 8px;
                    color: white;
                    border-bottom: 1px solid white;
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width: 551px) {
        .sp_navi {
            display: none;
        }


        .pc_navi {
            margin-top: 10px;
            text-align: right;

            li {
                list-style: none;
                display: inline-block;

                margin-bottom: 0;
                padding-bottom: 0;

                a {
                    color: $brown1;
                    font-weight: bold;
                    text-decoration: none;

                    font-size: 13px;
                    padding: 5px;
                }
            }

        }
    }

    @media (max-width: 550px) {
        .pc_navi {
            display: none;
        }
    }

}

//header
#main_area {
    background-color: $beige1;
    @include fontsize(11);

    .title {

        margin: 10px 0;
    }

    @media (max-width: 550px) {

        h2.title_pc {
            display: none;
        }
        h2.title_sp {
            padding: 20px 0;
            margin: 0;
            clear: both;
            img {
                display: block;
                margin: 0 auto;

            }
        }
    }

    @media (min-width: 551px) {
        h2.title_sp {
            display: none;
        }

        h2.title_pc {
            clear: both;
        }
    }

    .item {
        width: 49%;
        float: left;
        background-color: white;
        padding: 8px 8px 15px 8px;
        box-sizing: border-box;
        margin: 1px;
        display: flex;
        flex-direction: column;
        @include fontsize(11);

        p {
            margin-bottom: 0;
            padding-top: 10px;
        }
    }

    @media (min-width: 551px) {
        .item {
            width: 33%;
            padding: 10px 10px 20px 10px;
            box-sizing: border-box;

        }
    }
    .sidebar {
        h3 {
            background-color: $brown1;
            color: white;
            @include fontsize(14);
            padding: 10px;
            font-weight: bold;
            margin-bottom: 0;

        }

        h3.categories_title {
            background-image: url(../images/top/down_icon.png);
            background-repeat: no-repeat;
            background-position: right 10px center;

        }

        a.pagelink {
            background-color: $brown1;
            color: white;
            @include fontsize(14);
            font-weight: bold;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: none;
            display: block;
            background-image: url(../images/top/next_icon.png);
            background-repeat: no-repeat;
            background-position: right 10px center;
        }

        .search-box {
            padding: 20px;
            background-color: white;
            margin-bottom: 10px;
            p {
                color: $brown1;
                font-weight: bold;
                @include fontsize(14);
                margin-bottom: 0;


            }
            ::placeholder {
                color: #ccc
            }

        }
@media (max-width: 550px){
    .search-box{
        padding: 0 20px 20px 20px;
    
    p{
        img{
            display: none;
        }
    }
}
}


        .categories_li {
            margin-bottom: 10px;

            li {
                background-color: white;
                list-style: none;
                border-bottom: solid 1px $gray1;
                margin-bottom: 0;
                background-image: url(../images/top/next_icon_gray.png);
                background-repeat: no-repeat;
                background-position: right 10px center;



                a.categories {
                    display: block;
                    text-decoration: none;
                    padding: 15px 10px;
                    color: black;
                }
            }
        }

        @media (max-width: 550px) {
            h3.categories_title {
                background-position: 260px;
            }

            a.pagelink {
                background-position: 265px;
            }

            .categories_li li {
                background-position: 265px
            }
        }

        .about {
            background-color: white;
            img.u-max-full-width {
                padding: 10px;
                text-align: center;
            }
            .text {
                margin: 0 10px;
                P{
                    margin-bottom: 0;
                }
            }
            img.more {
                text-align: center;
                display: block;
                margin: 0px auto 10px;
                padding: 20px 0;
            }
        }
@media (max-width: 550px){
    .about{
        img.u-max-full-width{
             padding: 10px 0px 0 10px;
        }
    }
}

        .shopinfo {
            background-color: white;
            img.u-max-full-width {
                padding: 10px;
                text-align: center;
            }
            .text {
                margin: 0 10px;
                p{
                    margin-bottom: 0;
                }
            }
            img.more {
                text-align: center;
                display: block;
                margin: 0px auto 10px;
                padding: 20px 0;
            }
        }
        @media (max-width: 550px){
    .shopinfo{
        img.u-max-full-width{
             padding: 10px 0px 0 10px;
        }
    }
}
        
    }
}

@media (max-width: 550px) {
    .about {
        display: flex;
        margin-bottom: 10px;
        .left_about{
         width: 49%;   
        
        img.u-max-full-width {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }
        }

        .text {
            width: 41.5%;
            display: inline-block;
            margin: 0;

            p {
                margin: 10px 0;
            }

        }


    }

    .shopinfo {
        display:flex;
        .left_shopimg{
            width: 49%;    
        
        img.u-max-full-width {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            }
        }

        .text {
            width: 41.5%;
            display: inline-block;
            margin-left: 5px;
            p{
                margin:10px 0;
            }
        }
    }
}

.shopping_guide {
    display: flex;
    justify-content: space-between;


    .otodoke {
        background-color: white;
        padding: 13px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;



        .otodoke_title {
            @include fontsize(16);
            font-weight: bold;
            color: $brown1;
            padding: 10px;
        }
        img {
            display: block;
            margin: 10px 0;
        }
        span {
            color: $brown1;
            font-weight: bold;
        }
        p {
            margin-bottom: 5px;
        }

        @media (min-width: 551px) {
            width: 46%;
        }
    }
}

@media (max-width: 550px) {
    .shopping_guide {
        flex-direction: column;
    }
}

//main_area_top
img.u-max-full-width.cate_image_pc {
    width: 100%;
}

@media (min-width: 551px) {
    img.u-max-full-width.cate_image_sp {
        display: none;

    }
}

@media (max-width: 550px) {
    img.u-max-full-width.cate_image_pc {
        display: none;
    }
}




//category image
.breadcrumb {
    background-color: $beige2;
    padding: 10px;
    border-radius:3px;
    background-image: url(../images/list/home_icon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    margin-bottom: 10px;
    padding-left: 30px;
    a {
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        color: $brown1;
    }


}


//list.html-----------------------------------------
.back-button {
    background-color: $brown1;
    width: 120px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0;
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        @include fontsize(15);
        height: 40px;
        line-height: 40px;


    }
}

.next-button {
    background-color: $brown1;
    width: 120px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0;
    display: inline-block;
    float: right;


    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        @include fontsize(15);
        height: 40px;
        line-height: 40px;

    }
}



//list.html(end)------------------------------------------


//product.html--------------------------------------
.product {
    background-color: white;

    .product_title {
        padding: 10px 0;
        border-bottom: 1px solid $beige2;
        margin-bottom: 10px;

        .product_name {
            color: black;
            @include fontsize(20);
            font-weight: bold;
        }
        span.product_code {
            color: $gray2;
        }
    }


}

@media (min-width: 551px) {
    .product {

        .product_title {
            padding: 20px 0 20px 0;
            height: 30px;

            .product_name {
                width: 500px;
                display: flex;
                float: left;


            }
            span.product_code {
                padding: 10px 0;
                vertical-align: bottom;
                display: block;


            }
        }
    }
}

#display_image {
    float: left;
    width: 70%;
    margin-right: 10px;
   
    img {
        width: 100%;
    }
}

#list_image {
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    li {
        width: 45%;
        margin: 0 auto 5px;
        img {
            width: 100%;
            cursor: pointer;

        }
    }
}

@media (max-width: 550px) {
    #display_image {
        width: 100%;

    }
    #list_image {
        width: 100%;
        max-width: 280px;
        li {
            display: inline-block;
            width: 18.5%;
        }
    }
}



.product_info {

    padding: 10px 0;
    border-bottom: 1px solid $beige2;
    margin-bottom: 10px;


    img {
        padding: 10px 0;
    }


    #list_image {
        li {
            list-style: none;
            display: inline-block;
        }
        li img {
            width: 50px;
            cursor: pointer;
        }
    }


    table {
        width: 100%;

        th,
        td {
            border: 1px solid $beige2;
            text-align: center;
            padding: 5px;
            input[type="checkbox"], input[type="radio"]{
                margin-top: 10px;
                margin-bottom: 10px;
                
            }

        }
        th {
            background-color: $beige1;
            color: $brown1;


        }
    }
    .price {
        display: inline-block;
        padding-left: 50px;
        padding-right: 5px;
        @include fontsize(20);
        color: #e80f66;
        font-style: italic;
        vertical-align: top;

        span {
            @include fontsize(13);
            padding-left: 5px;
            color: #000000;
        }
    }



    input.quantity {
        margin-left: 30px;
    }


}

.add_to_cart {
    text-align: center; //padding: 10px 0;
}

@media (min-width: 551px) {
    .product_info {
        border-top: 1px solid $beige2;
        border-bottom: none;
    }

    .flexbox {
        width: 50%;
        float: left;



        .add_to_cart {
            display: flex;
            img.add_to_cart {
                padding: 0;
            }
        }
    }
    .product_explain {
        border-top: 1px solid $beige2;
        ;
    }

}

.product_explain {
    margin-bottom: 20px;
    padding: 20px 0 50px 0;

    .product_explain_title {
        color: $brown1;
        font-weight: bold;
        @include fontsize(15);
        padding: 10px 0;
        border-bottom: 1px solid $brown1;
    }
    span.explain_title {
        display: block;
        color: $brown1;
        font-weight: bold;
        @include fontsize(15);
        padding: 10px 0;
    }

    table {
        width: 100%;
        margin-bottom: 20px;

        th,
        td {
            border: 1px solid $beige2;
            padding: 5px;
            color: $brown1;
            padding: 10px;
        }
        th {
            background-color: $beige1;
            text-align: center;
        }
        td {
            text-align: left;
        }
    }
}



@media (min-width: 551px) {
    .product {
        padding: 0 60px;

        margin: auto;
    }
}

//main_area_product--------------------------------------
footer {
    background-color: $beige1;

    .page_top {
        padding: 10px 0;
        border-bottom: solid 1px $brown1;
        text-align: center;
        a {
            text-decoration: none;
            color: black;

        }
    }
    @media (min-width: 551px) {
        .page_top {
            text-align: right;
            padding-right: 20px;
        }
    }
    .footer_link {
        padding: 10px 0;
        text-align: center;

        a {
            text-decoration: none;
            color: black;
            @include fontsize(11);
            display: inline-block;

        }
        small {
            color: $gray2;
            @include fontsize(9);
            display: block;
            margin: auto;
            padding: 5px 0;
        }
    }
}

//footer
.owl-theme .owl-dots {

    text-align: left;


    button.owl-dot .active span {
        background: #9d1a2d;
    }



    .owl-dot span {
        width: 25px;
        height: 3px;
        margin: 2px 7px;
        background: #D6D6D6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;



    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #9d1a2d;
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.search-box input[type="text"] {
    width: 100%;
    /*横幅*/
    margin-bottom: 0px;
    /*スペース*/
    border-radius: 0;
    /*角丸*/
    border: 0;
    /*枠線*/
    font-size: 11px;
    /*文字サイズ*/
    font-size: 1.1rem;
    /*文字サイズ*/
    background-color: #eee;
    /*外形の色*/
    background-image: url(../images/top/search_icon.png);
    /*背景の虫メガネ画像*/
    background-position: 95% center;
    /*背景のポジション*/
    background-repeat: no-repeat;
    /*背景の画像のリピート設定*/
    font-style: italic;
    /*フォントのスタイル*/
}
